@page
@model IndexModel
@{
    ViewData["Title"] = "Music Catalog";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Music Catalog (change)</h1>
    <p>Sample Application for Testing GitHub Actions</p>
</div>
